body {
    font-family: Arial;
    font-size : 12px;
}

/*.clearfix {*/
    /*overflow: auto;*/
/*}*/

div#input_container {
    /*position:relative;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*overflow:auto;*/
}

div#outfit_input_widget {
    width: 100px;
    padding: 10px;
    /*float:left;*/
    display: inline-block;
    /*vertical-align: middle;*/
}
input#outfit_input {
    /*display: block;*/
    /*width: 6em;*/
    margin-top: 3px;
    width: 100%;
}

button#get_outfit_info {
    padding: 2px;
    display: inline-block;
    /*vertical-align: middle;*/
}

/*div#outfit {*/
    /*clear:left;*/
/*}*/

table {
    /*border: 1px;*/
    border-collapse: collapse;
    
}
/*this centres the table*/
/*table.members {
    margin: 0 auto; 
}*/
/*#added {
    width: 100%
}*/

table td {
    padding: 5px 10px;
    border: 1px solid black;
    white-space: nowrap;
}

table.extra_info td {
    white-space: pre;
}

.right_align {
    text-align: right;
}

.red {
    color: red;
}

tr.even_row {
    background-color: #eee;
}

td.remove_right_border {
    border-right:0;
}

td.remove_left_border {
    border-left:0;
}

th {
    /*background-color:#ddd;*/
    padding:3px 5px;
}

th:hover {
    cursor:pointer;
}

button.show_extra{
    font-family: monospace;
	font-size: 10px;
    padding:0px 3px;
    margin-right: 10px;
}

button::-moz-focus-inner {
    border:0;
    padding:1px 1px 0px 1px;
    margin: -1px;
}
