body {
    font-family: Arial;
    font-size : 12px;
}

table {
    /*border: 1px;*/
    border-collapse: collapse;
}

/*#added {
    width: 100%
}*/

table td {
    padding: 5px 10px;
    border: 1px solid black;
    white-space: nowrap;
}

table.extra_info td {
    white-space: pre;
}

.right_align {
    text-align: right;
}

.red {
    color: red;
}

tr.even_row {
    background-color: #eee;
}

td.remove_right_border {
    border-right:0;
}

td.remove_left_border {
    border-left:0;
}

th {
    /*background-color:#ddd;*/
    padding:3px 5px;
}

    th:hover {
        cursor:pointer;
    }


button{
    font-family: monospace;
    /*background: transparent;
    border: none !important;*/
	font-size: 10px;
    /*font-weight: bold;*/
    padding:0px 3px;
    margin-right: 10px;
}
